{{#if isEmpty}}
{{yield}}
{{else}}
<div class="works-with card-panel green accent-3">
  <div class="card-action medium center">
    <span class="card-title white-text text-darken center truncate">Pushed</span>
  </div>
  <div class="people-card center">
    <h4><i class="mdi-image-edit white-text valign">{{totalCommits}} Commits</i></h4>
  </div>
</div>
{{/if}}
