<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">GH-Track</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern approach to Developer Tracking</h5>
    </div>
    <div class="row center">
      {{#link-to "dashboard" class="btn-large waves-effect waves-light orange"}}
        Get Started
      {{/link-to}}
    </div>
    <br><br>
  </div>
</div>