<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Want a <i class="mdi-action-trending-up">GitTrack</i> Profile?</h5>
        <p class="grey-text text-lighten-4 white-text">Star <a target="_blank" href="http://github.com/sedouard/gittrack">the repo</a> and your Dashboard will be generated!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Want More?</h5>
        <h5 class="white-text">Try <a href="http://pro.gittrack.io"><i class="mdi-action-trending-up">GitTrack</i> Pro</a></h5>
        <ul>
          <li class="white-text">Github Enterprise</li>
          <li class="white-text">Private Repos</li>
          <li class="white-text">Find any Developer</li>
        </ul>
      </div>
    </div>
  </div>
  {{#md-copyright text='Steven Edouard' startYear=2015}}{{/md-copyright}}
</footer>