<div class="row nav-row">
  <div class="col s12">
    <nav>
      <div class="nav-wrapper dashboard-navbar">
        <a href="#" class="brand-logo mdi-action-trending-up ghtrack-logo">{{ghTrackUrl}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>