<div class="row nav-row">
  <div class="col s12">
    <nav>
      <div class="nav-wrapper dashboard-navbar">
        <a href="#" class="brand-logo mdi-action-trending-up ghtrack-logo">{{ghTrackUrl}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="http://github.com/sedouard">Fork Me on Github<i class="material-icons left">call_split</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>