<div class="card-panel teal">
  <div class="card-action medium">
    <span class="card-title white-text text-darken">Recentyl Worked With</span>
  </div>
  <div class="people-card">
    {{#each people key="@index" as |person|}}
       <div class="chip contact">
        <img src="{{person.avatar_url}}" alt="{{person.login}}">
        <a target="_blank" href="https://github.com/{{person.login}}">{{person.login}}</a>
       </div>
    {{/each}}
  </div>
</div>