@import 'materialize';
@import 'ember-cli-materialize';
@import 'dashboard';
@import 'color-overrides';
@import 'navbar';
@import 'landing';
@import 'pull-request-card';
@import 'time-chart-card';
@import 'profile-card';
@import 'works-with-card';
@import 'conversations-card';
@import 'opt-in';
@import 'commit-pie-chart';
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.chart {
  canvas {
      width: 90% !important;
      max-width: 800px;
      height: 320px !important;
      margin-top: 10px;
  }
}

.block {
  display: inline-block;
  font-size: 75%
}
.color-content-primary {
  background-color: $primary-color;
}
.page-footer {
  background-color: $primary-color !important;
  a {
    color: $secondary-color !important
  }
}

.dashboard-card-tall {
  min-height: 580px;
  .card-image {
    min-height: 500px;
  }
}

.table-of-contents a {
    cursor: pointer;
}
