@import 'materialize';
@import 'ember-cli-materialize';
@import 'dashboard';
@import 'color-overrides';
@import 'navbar';
@import 'landing';
@import 'pull-request-card';
@import 'time-chart-card';
@import 'profile-card';
@import 'works-with-card';
@import 'conversations-card';
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

canvas {
    width: 90% !important;
    max-width: 800px;
    height: 300px !important;
}

.number-circle
{
  width:20px;
  height:20px;
  border-radius:50%;
  font-size:10px;
  line-height:20px;
  text-align:center;
  opacity: 0.95;
  background-color:#cfd8dc;
  margin-left: 10px;
}

.block
{
  display: inline-block;
  font-size: 75%
}


