@import 'materialize';
@import 'ember-cli-materialize';
@import 'dashboard';
@import 'color-overrides';
@import 'navbar';
@import 'landing';
@import 'pull-request-card';
@import 'time-chart-card';
@import 'profile-card';
@import 'works-with-card';
@import 'conversations-card';
@import 'opt-in';
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

canvas {
    width: 90% !important;
    max-width: 800px;
    height: 300px !important;
}

.block
{
  display: inline-block;
  font-size: 75%
}


