/*** Colors ***/
$primary-color: rgb(53, 161, 196);
$primary-color-light: rgb(213, 237, 245);
$primary-color-dark: rgb(29, 97, 120);
$for-hire-color: color("yellow", "lighten-1");
$secondary-color: #227794;
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");
$warning-color: #FF4D4D;
