.range-selector {
  margin-top: 25%;
  .active-range {
    font-weight: bold;
  }
}
.dashboard {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 1000px;
}

.range-selector {
  overflow-y: hidden;
}
.large-spinner {
  width: 100px !important;
  height: 100px !important;
}

.dashboard-card {
  height: 530px !important
}

.chart {
  margin-top: 20px;
  min-height: 370px;
}
.language-bar-chart {
  margin-top: 20px;
  min-height: 420px;
  canvas {
      width: 90% !important;
      max-width: 800px;
      height: 320px !important;
      margin-top: 10px;
  }
}
.language-card-title {
  height: 98px;
}
.pull-requests-title {
  height: 140px;
}

@media only screen and (min-width: 500px) {
  .range-selector-small {
    visibility: collapse;
    height: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .range-selector-small {
    visibility: visible;
    max-height: 300px;
  }
}
