.range-selector {
  .active-range {
    font-weight: bold;
  }
}
.dashboard {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 1000px;
}

.range-selector {
  overflow-y: hidden;
}
.large-spinner {
  width: 100px !important;
  height: 100px !important;
}

.dashboard-card {

}

.chart {
  margin-top: 20px;
  min-height: 370px;
}
.language-bar-chart {
  margin-top: 20px;

  canvas {
      width: 90% !important;
      max-width: 800px;
      height: 320px !important;
      margin-top: 10px;
  }
}
.time-chart {
  canvas {
    max-height: 320px !important;
  }
}

.card .card-action {

}

.fixed-sidebar {
  position:fixed!important;
  top:6px;
  right:0!important;
  z-index: 0;
  li {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
}

.table-of-contents a {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  padding-left:6px;
}

.page-footer {
  z-index: 100;
  position:absolute;
  width:100%;
}

@media only screen and (min-width: 500px) {
  .range-selector-small {
    visibility: collapse;
    height: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .range-selector-small {
    visibility: visible;

  }
}
