.range-selector {
  margin-top: 25%;
  .active-range {
    font-weight: bold;
  }
}
.dashboard {
  overflow-y: scroll;
  overflow-x:hidden;
  min-height: 1000px;
}

.large-spinner {
  width: 100px !important;
  height: 100px !important;
}

.dashboard-card {
  height: 530px !important
}

.chart {
  margin-top: 20px;
  min-height: 350px;
}
@media only screen and (min-width: 500px) {
  .range-selector-small {
    visibility: collapse;
    height: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .range-selector-small {
    visibility: visible;
    max-height: 300px;
  }
}
