.nav-row {
  margin-top: 10px;
}
nav {
  background-color: $primary-color !important
}

.ghtrack-logo {
  position: absolute
}

@media only screen and (min-width: 500px) {
  .ghtrack-logo {
    margin-left: 10px;
  }
}
