.additions {
  color: $success-color
}

.deletions {
  color: $error-color
}

.chip-container {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.time-chart {
  canvas {
      width: 90% !important;
      max-width: 800px;
      margin-top: 10px;
      text-align: center;
  }
  a {
    // important to override time-chart
    text-align: left;
  }
}

.timechart-legend {
  overflow-y: scroll;
  height: 100%;
  max-height: 150px;
  margin-bottom: 0px;
}

.commit-reveal {
  background-color: $primary-color !important;
}
.circle-legend {
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
