.additions {
  color: $success-color
}

.deletions {
  color: $error-color
}

.commit-message {
  margin-top: -20px
}
.chip-container {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.time-chart {
  canvas {
      width: 90% !important;
      max-width: 800px;
      height: 420px !important;
      margin-top: 10px;
  }
}
.commit-reveal {
  background-color: $primary-color !important;
}
