.additions {
  color: $success-color
}

.deletions {
  color: $error-color
}

.chip-container {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.time-chart {
  canvas {
      width: 90% !important;
      max-width: 800px;
      margin-top: 10px;
  }
}
.commit-reveal {
  background-color: $primary-color !important;
}
.square {
  width:10px;
  height:10px;
  display: inline-block;
}
