.contact {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-panel {
  .medium {
    font-size: 1rem;
  }
}

.people-card {
  height: 120px;
  margin-top: 18%;
  overflow-y: scroll;
}

.works-with {
  height: 250px;
}
