<br/>
<br/>
<br/>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center">
      <i class="mdi-action-trending-up large">GitTrack</i>
    </div>
    <div class="row center">
      <h5 class="header col s12 light">A modern approach to Developer Tracking</h5>
    </div>
    <div class="row center">
      <div class="landing-input offset-s3 col s6">
        <div class="input-field center">
          {{input id="gh_username" value=ghUsername type="text" class="validate center"}}
          <label class="center label-large" for="gh_username">Github Username</label>
        </div>
      </div>
    </div>
    <div class="row center">
      <a {{action "goToDashboard" ghUsername}} class="btn-large waves-effect waves-light landing-button">
        <i class="mdi-action-trending-up">Track</i>
      </a>
    </div>
    <br><br>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{ax-footer}}